body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #eaf3f8;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
}

#container {
  background: #ffffff;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  width: 90%;
  border-radius: 16px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

#chart {
  display: flex;
  justify-content: center;
}

.axis-label {
  font-weight: bold;
  font-size: 15px;
}

.legend {
  font-size: 25px;
  font-weight: 700;
}

.legend rect {
  stroke: #999;
  stroke-width: 1px;
}